# ========================================
# BlockBound - Environment Configuration
# ========================================

# Ethereum Network RPC URLs
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<API_KEY>

# Private Key for Smart Contract Deployment
PRIVATE_KEY=<PRIVATE_KEY>

# API Keys for Contract Verification
# Etherscan: https://etherscan.io/apis
ETHERSCAN_API_KEY=<ETHERSCAN_API_KEY>

# Next.js Configuration
NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS=<NEXT_PUBLIC_SEPOLIA_CONTRACT_ADDRESS>